<phpunit bootstrap="./bootstrap.php">
    <testsuite name="Application Test Suite">
        <directory>./application</directory>
    </testsuite>
    
    <logging>
    	
    	<log type="coverage-html" target="log/coverage/" charset="UTF-8" yui="true" highlight="true" lowUpperBounds="35" highLowerBound="70" />
    	
    	<log type="testdox-text" target="log/testdox.txt"/>
    </logging>
    
    <filter>
    	<blacklist>
    		<directory suffix=".php">../../../Programy</directory>
    		<directory suffix=".php">../library/SG7</directory>
    	</blacklist>
    
        <!-- If Zend Framework is inside your project's library, uncomment this filter -->
        <!-- 
        <whitelist>
            <directory suffix=".php">../../library/Zend</directory>
        </whitelist>
        -->
    </filter>
</phpunit>
